<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Single Page Website Template for Awards Submissions</title>
		<meta name="robots" content="noindex, nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<link href="image-assets/favicon.png" rel="icon" type="image/png" />
		<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<!--[if IE 9]><link href="css/screen_ie9.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
		<link href="css/screen_breakpoints.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="js/modernizr-3.3.1.min-custom.js"></script>
		<script type="text/javascript" src="js/isInViewport.min.js"></script>		
		<script type="text/javascript" src="js/intro.js"></script>
		<script type="text/javascript" src="js/navigation.js"></script>
	</head>
	<!--[if lt IE 9]>
	<body class="ie-error">
		<div>
			<h1>The browser that you're using is not supported</h1>
			<p>This page needs a modern web browser. Please, update your browser or try another one like Mozilla Firefox or Google Chrome.</p>
			<p>You can download Firefox and Chrome for free from these links:</p>
			<ul class="links">
				<li><a href="http://www.mozilla.org/en/firefox/new/">Firefox</a></li>
				<li><a href="http://www.google.com/intl/en/chrome/browser/">Chrome</a></li>
			</ul>
		</div>
	</body>
	<![endif]-->
	<!--[if (!IE)|(IE 9)]><!-->
	<body>
		<!-- Google Tag Manager -->
		<!-- End Google Tag Manager -->
		<!-- Navigation: Change the labels according to your design -->
		<nav>
			<ol>
				<li><a href="#intro" data-number="1"><span class="dot"></span><span class="label">Intro</span></a></li>
				<li><a href="#section1" data-number="2"><span class="dot"></span><span class="label">Section 1</span></a></li>
				<li><a href="#section2" data-number="3"><span class="dot"></span><span class="label">Section 2</span></a></li>
				<li><a href="#section3" data-number="4"><span class="dot"></span><span class="label">Section 3</span></a></li>
				<li><a href="#section4" data-number="5"><span class="dot"></span><span class="label">Section 4</span></a></li>
				<li><a href="#section5" data-number="6"><span class="dot"></span><span class="label">Section 5</span></a></li>
				<li><a href="#outro" data-number="7"><span class="dot"></span><span class="label">Outro</span></a></li>
			</ol>
		</nav>
		<article id="page" class="slides">
			<!-- Section 1 (Header): Intro -->
			<header id="intro" class="section slide overlay background video">
				<div class="slide__content">
					<div id="title" class="slide__foreground hidden">
						<div class="align__middle">
							<img src="image-assets/intro_logo.png" alt="GOAL+" height="256" />
							<h1>First level heading</h1>
							<h2>Second level heading</h2>
						</div>
					</div>
					<div id="title__background" class="slide__base">
						<video id="intro__video" poster="image-assets/intro_poster.jpg" muted autoplay loop>
							<source src="videos/intro.mp4" type="video/mp4" />
							<source src="videos/intro.webm" type="video/webm" />
							<source src="videos/intro.ogg" type="video/ogg" />
						</video>
					</div>
				</div>
			</header>
			<!-- Fallback intro video for clients (e.g. mobile) that don't support autoplay. Change the figcaption to reflect your video content. -->
			<section id="intro__fallback" class="section slide solid">
				<div class="slide__content">
					<figure class="slide__foreground column__full">
						<video poster="image-assets/intro_poster.jpg" controls>
							<source src="videos/intro.mp4" type="video/mp4" />
							<source src="videos/intro.webm" type="video/webm" />
							<source src="videos/intro.ogg" type="video/ogg" />
						</video>
						<figcaption>Futurice Showreel</figcaption>
					</figure>
				</div>
			</section>
			<!-- Section 1 (Background) -->
			<section id="section1" class="section slide solid">
				<div class="slide__content">
					<figure class="slide__foreground column__right">
						<img src="image-assets/section_image_1.jpg" srcset="image-assets/section_image_1.jpg 1x, image-assets/section_image_1@2x.jpg 2x" />
					</figure>
					<div class="slide__base column__left">
						<h3>Section 1 heading</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet justo nec orci viverra maximus. Praesent commodo leo rhoncus, consectetur nisl quis, sagittis magna. Curabitur arcu augue, ullamcorper nec nisl sed, vehicula placerat risus. Aliquam eleifend sapien enim, vitae pulvinar dui congue nec. Vestibulum nec nisi a tortor ornare feugiat. Vivamus fermentum condimentum elit vel egestas. Nunc magna diam, dignissim id luctus id, eleifend vel purus. Donec id rutrum tellus, id ultricies felis. Aliquam quis justo aliquam, bibendum justo pharetra, mollis erat. Integer viverra diam at lectus cursus imperdiet. Fusce in nisi non sapien tincidunt posuere. Nullam consectetur fringilla dolor at efficitur.</p>
					</div>
				</div>
			</section>
			<!-- Background image 1 -->
			<section id="section-background-1" class="slide background">
				<div class="slide__content">
					<div class="slide__background"></div>
				</div>
			</section>
			<!-- Section 2 (Challenge) -->
			<section id="section2" class="section slide solid">
				<div class="slide__content">
					<figure class="slide__foreground column__left">
						<img src="image-assets/section_image_2.jpg" srcset="image-assets/section_image_2.jpg 1x, image-assets/section_image_2@2x.jpg 2x" />
					</figure>
					<div class="slide__base column__right">
						<h3>Section 2 heading</h3>
						<p>Aliquam iaculis nisi eu erat euismod volutpat eget in sem. Curabitur vel magna vehicula, dapibus velit in, aliquet ante. Cras ac porttitor ante. Proin a convallis tortor. Pellentesque lacus purus, tincidunt eu turpis ac, mattis aliquam est. Suspendisse potenti. Etiam purus risus, ultricies eget quam id, ultrices molestie turpis. In hac habitasse platea dictumst. Maecenas a vestibulum nisl. Aenean mattis, arcu sed sagittis hendrerit, odio eros maximus sapien, sed faucibus nunc leo quis nulla. Quisque vel risus non ipsum dignissim eleifend. Integer laoreet nec velit in maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec feugiat, magna ac maximus dignissim, nunc lorem sollicitudin nibh, et sodales neque mi sit amet metus.</p>
					</div>
				</div>
			</section>
			<!-- Background image 2 -->
			<section id="section-background-2" class="slide background">
				<div class="slide__content">
					<div class="slide__background"></div>
				</div>
			</section>
			<!-- Section 3 (Approach) -->
			<section id="section3" class="section slide solid">
				<div class="slide__content">
					<figure class="slide__foreground column__right">
						<img src="image-assets/section_image_3.jpg" srcset="image-assets/section_image_3.jpg 1x, image-assets/section_image_3@2x.jpg 2x" />
					</figure>
					<div class="slide__base column__left">
						<h3>Section 3 heading</h3>
						<p>Morbi malesuada gravida hendrerit. In sagittis nulla ut mauris hendrerit volutpat non ut odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec in magna sed nibh efficitur molestie in ullamcorper est. Nam elementum risus et purus laoreet, ut feugiat elit dapibus. Aliquam porta ligula magna, nec porta mi dictum non. Duis turpis arcu, sollicitudin non augue a, euismod interdum nulla. Nullam luctus erat sit amet nisl tempor, vitae posuere lacus dapibus. In hac habitasse platea dictumst. Curabitur luctus leo viverra magna dignissim ultricies. Nunc lectus tortor, dignissim et sem ut, dictum placerat nunc. In cursus, urna dapibus tristique mattis, turpis sapien varius enim, in maximus felis lacus nec risus. Curabitur faucibus dolor metus. Quisque dapibus egestas tellus, quis efficitur quam facilisis vel. Etiam bibendum tincidunt sapien, ut mattis leo dictum quis.</p>
					</div>
				</div>
			</section>
			<!-- Background image 3 -->
			<section id="section-background-3" class="slide background">
				<div class="slide__content">
					<div class="slide__background"></div>
				</div>
			</section>
			<!-- Section 4 (Impact) -->
			<section id="section4" class="section slide solid">
				<div class="slide__content">
					<figure class="slide__foreground column__left">
						<img src="image-assets/section_image_4.jpg" srcset="image-assets/section_image_4.jpg 1x, image-assets/section_image_4@2x.jpg 2x" />
					</figure>
					<div class="slide__base column__right">
						<h3>Section 4 heading</h3>
						<p>Aenean vitae velit metus. Fusce efficitur purus eget nulla aliquet, nec pretium risus commodo. Nam laoreet enim id mauris iaculis suscipit. Pellentesque et enim congue, lobortis nibh sit amet, posuere mauris. Maecenas consectetur elit ut metus sollicitudin, eget elementum augue vehicula. In pellentesque ante ut enim volutpat, non viverra nibh ornare. Mauris auctor neque arcu, eget dapibus tortor malesuada vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam varius velit vel eros efficitur, in interdum augue blandit. Duis quis nisl massa. Aenean sed nulla vitae nulla laoreet suscipit et ut leo.</p> 
					</div>
				</div>
			</section>
			<!-- Background image 4 -->
			<section id="section-background-4" class="slide background">
				<div class="slide__content">
					<div class="slide__background"></div>
				</div>
			</section>
			<!-- Section 5 (Details) -->
			<section id="section5" class="section slide solid">
				<div class="slide__content">
					<!-- Parallax fix: This fixes last slide bug with Google Chrome and retina display, you can remove this if you use other than base parallax layer in the slide content -->
					<div class="slide__fix"></div>
					<!-- End of Parallax fix -->
					<div id="about" class="slide__base column__left">
						<h3>About*</h3>
						<dl>
							<dt>Client</dt>
							<dd>Futurice</dd>
							<dt>Design</dt>
							<dd>Futurice</dd>
							<dt>App and Mobile Backend Development</dt>
							<dd>Futurice</dd>
							<dt>Video production</dt>
							<dd>Futurice</dd>
						</dl>
						<p>* Remember to check if awards competion rules allow displaying the client and agency information.</p>
					</div>
					<div id="links" class="slide__base column__right">
						<h3>Section 5 heading</h3>
						<ul>
							<!-- Remember to change the links, delete the ones you don't need. -->
							<!-- iOS -->
							<li><a href="#" title="App Store" class="download__button"><img src="image-assets/download_button_ios.png" srcset="image-assets/download_button_ios.png 1x, image-assets/download_button_ios@2x.png 2x" alt="Dowload on the App Store" height="88" /></a></li>
							<!-- Android -->
							<li><a href="#" title="Google Play" class="download__button"><img src="image-assets/download_button_android.png" srcset="image-assets/download_button_android.png 1x, image-assets/download_button_android@2x.png 2x" alt="Get it on Google Play" height="88" /></a></li>
							<!-- Windows -->
							<li><a href="#" title="Microsoft Store" class="download__button"><img src="image-assets/download_button_windows.png" srcset="image-assets/download_button_windows.png 1x, image-assets/download_button_windows@2x.png 2x" alt="Get it from Microsoft" height="88" /></a></li>
						</ul>
						<dl>
							<dt>Requirements</dt>
							<dd>iOS 8 and up, Android 4.1 and up, Windows 10 Mobile</dd>
						</dl>
					</div>
				</div>
			</section>
			<!-- Footer -->
			<footer id="outro" class="section slide background">
				<div id="logos" class="columns__two align__middle">
					<!-- Remember to change the links, titles and alt texts, delete the ones you don't need. -->
					<div><a href="http://www.futurice.com/" title="Futurice"><img src="image-assets/outro_logo_1.png" srcset="image-assets/outro_logo_1.png 1x, image-assets/outro_logo_1@2x.png 2x" alt="Futurice" height="128" /></a></div>
					<div><a href="http://www.futurice.com/" title="Futurice"><img src="image-assets/outro_logo_2.png" srcset="image-assets/outro_logo_2.png 1x, image-assets/outro_logo_2@2x.png 2x" alt="Futurice" height="128" /></a></div>
					<div><a href="http://www.futurice.com/" title="Futurice"><img src="image-assets/outro_logo_3.png" srcset="image-assets/outro_logo_3.png 1x, image-assets/outro_logo_3@2x.png 2x" alt="Futurice" height="128" /></a></div>
				</div>
			</footer>
		</article>
		<!-- Debug: Parallax effect. Uncomment this to use the debugger.
		<div class="parallax__debug">
			<label><input id="parallax__debug" type="checkbox"> Debug</label>
		</div>
		<script>
			var parallaxDebugInput = document.getElementById('parallax__debug');
			function updateParallaxDebugState() {
				document.body.classList.toggle('parallax__debug-on', parallaxDebugInput.checked);
			}
			parallaxDebugInput.addEventListener("click", updateParallaxDebugState);
			updateParallaxDebugState();
		</script>
		-->
	</body>
	<!--<![endif]-->
</html>