/* ================================================================
FONTS
================================================================ */

@import "fonts.css" screen, projection;

/* ================================================================
GENERAL STYLES
================================================================ */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 125%;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: Body-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 1.4;
	font-weight: 200;
	color: #212121;
	background-color: #212121;
}

article, header, section, footer, div {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: Title, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3.2rem;
	line-height: 1;
	font-weight: bolder;
}

dl, dl dt, dl dd, ul, ul li, ol, ol li {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
	list-style: none;
}

dl, ul, ol {
	margin-bottom: 1em;
}

dl dd, ul li, ol li {
	margin-bottom: 0.5em;
}

dl dt {
	font-family: Body-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

figure, video{
	display: block;
	margin: 0;
	padding: 0;
}

strong {
	font-family: Body-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

/* Links */

a, a:hover, a:active, a:visited {
	cursor: pointer;
	text-decoration: underline;
	color: rgba(0,0,0,1.0);
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

a:hover {
	color: rgba(0,0,0,0.5);
}

a img {
	opacity: 1;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

/* ================================================================
COMMON STYLES
================================================================ */

.slides {
	width: 100%;
}

.slide {
	position: relative;
	width: 100%;
	height: 96vh;
	min-height: 640px;
}

.slide.solid {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 1px 5px 0 rgba(0, 0, 0, 0.12),
				0 3px 1px -2px rgba(0, 0, 0, 0.2);
	-webkit-transition: box-shadow 0.25s ease-in-out;
	-moz-transition: box-shadow 0.25s ease-in-out;
	transition: box-shadow 0.25s ease-in-out;
}

.slide.solid:hover {
	background-color: #fff;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
				0 3px 14px 2px rgba(0, 0, 0, 0.12),
				0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.slide__content{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.slide.solid .slide__content {
	max-width: 1440px;
	padding: 3.2rem;
}

.slide__media img, .slide__media video{
	width: 100%;
}

.column__left, .column__right {
	width: 50%;
	height: auto;
	min-height: 400px;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	flex: 1 1 auto;
}

.column__left {
	float: left;
	padding-right: 1.6rem;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;     
	-ms-flex-order: 1;     
	order: 1;
}

.column__right {
	float: right;
	padding-left: 1.6rem;
	-webkit-box-ordinal-group: 2;  
	-moz-box-ordinal-group: 2;     
	-ms-flex-order: 2;     
	order: 2;
}

.column__full {
	width: 100%;
	height: auto;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	flex: 1 1 auto;
}

.slide__content:after {
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}

.slide__background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000;
}

.vertical__center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin: 0 auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.parallax__fix {
	display: none;
}

/* Download buttons */

.download__button {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.download__button:hover {
	text-decoration: none;
}

.download__button img {
	display: block;
	margin: 0;
	border-radius: 8px;
	padding: 0;
	max-width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 1px 5px 0 rgba(0, 0, 0, 0.12),
				0 3px 1px -2px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.download__button:hover img {
	opacity: 1;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
				0 3px 14px 2px rgba(0, 0, 0, 0.12),
				0 5px 5px -3px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* ================================================================
SECTIONS AND BACKGROUNDS
Z-indexes are needed for elevation definition
================================================================ */

/* Header */

#intro {
	z-index: 32;
}
#intro .slide__background {
	background-image: url('../image-assets/intro_background@2x.jpg');
}

#intro__fallback {
	z-index: 33;
}

/* Content sections */

#background {
	z-index: 64;
}

#section-background-1 {
	z-index: 34;
}
#section-background-1 .slide__background {
	background-image: url('../image-assets/section_background_1@2x.jpg');
}

#challenge {
	z-index: 63;
}

#section-background-2 {
	z-index: 35;
}
#section-background-2 .slide__background {
	background-image: url('../image-assets/section_background_2@2x.jpg');
}

#approach {
	z-index: 62;
}

#section-background-3 {
	z-index: 36;
}
#section-background-3 .slide__background {
	background-image: url('../image-assets/section_background_3@2x.jpg');
}

#impact {
	z-index: 61;
}

#section-background-4 {
	z-index: 37;
}
#section-background-4 .slide__background {
	background-image: url('../image-assets/section_background_4@2x.jpg');
}

#details {
	z-index: 60;
}

/* Footer */

#outro {
	z-index: 59;
}

/* ================================================================
PAGE
================================================================ */

article {
	background-color: #212121;
}

/* ================================================================
HEADER
================================================================ */

header {
	text-align: center;
	color: #fff;
}

header #title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

header #title img {
	display: block;
	height: 4.8rem;
	margin: 0 auto 3.2rem;
}

header #title h1 {
	margin: 0;
	padding: 0;
	font-size: 3.2rem;
	line-height: 1;
	text-transform: uppercase;
}

header #title h2{
	margin: 0;
	padding: 0;
	font-size: 3.2rem;
	line-height: 1;
	text-transform: uppercase;
}

header #title__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

header #title__background {
	background: black;
	z-index: 1;
}

/* HEADER VIDEO */

#intro video, #intro__fallback video, #intro video img, #intro__fallback video img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	object-fit: cover;
	object-position: 50% 50%;
	overflow: hidden;
}

#intro__fallback {
	display: none;
}

/* ================================================================
MAIN CONTENT
================================================================ */

section h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: #000;
	text-transform: uppercase;
}

/* ================================================================
FOOTER
================================================================ */

footer {
	position: relative;
	width: 100%;
	height: 96vh;
	min-height: 640px;
	text-align: center;
	color: #fff;
	background-color: #212121;
}

footer #logos{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	margin: 0 auto;
	line-height: 1;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

footer #logos div {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 1.6rem 3.2rem;
	text-align: center;
	-webkit-box-flex: 1 1 content;
	-moz-box-flex: 1 1 content;
	flex: 1 1 content;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;     
	-ms-flex-order: 1;     
	order: 1;
}

footer #logos a img {
	display: inline-block;
	height: 4.8rem;
	max-width: 100%;
	margin: 0;
	padding: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}

footer #logos a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

footer #copy {
	position: absolute;
	bottom: 3.2rem;
	left: 0;
	right: 0;
	font-size: 1rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.87);
}

/* ================================================================
CSS PARALLAX EFFECT
http://keithclark.co.uk/articles/pure-css-parallax-websites/
================================================================ */

@media screen and (min-width: 1024px) {
	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
		html, body {
			height: 100%;
			overflow: hidden;
		}

		body {
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
		}

		.slides {
			position: absolute;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-perspective: 300px;
			perspective: 300px;
			scroll-behavior: smooth;
		}

		.slide, .slide__content {
			position: relative;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}

		.slide__background, .slide__base, .slide__foreground, .slide__fix {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.slide__media.column__left {
			transform-origin: 100% 50%;
		}

		.slide__media.column__right {
			transform-origin: 0% 50%;
		}

		.slide__background {
			background-attachment: scroll;
			background-position: 50% 50%;
			background-size: cover;
			-webkit-transform: translateZ(-256px) scale(2);
			transform: translateZ(-256px) scale(2);
			z-index: 1;
		}

		.slide__base, .slide__text {
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			z-index: 2;
		}

		.slide__foreground, .slide__media, .slide__fix {
			-webkit-transform: translateZ(96px) scale(.68);
			transform: translateZ(96px) scale(.68);
			z-index: 3;
		}

		.slide__fix {
			display: block;
			pointer-events: none;
		}

		footer {
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
		}
	}
}

/* ================================================================
CSS PARALLAX EFFECT DEBUGGER
Debugger styles - used to show the parallax effect
================================================================ */

.parallax__debug {
	display: none;
	position: fixed;
	top: 0;
	left: 1rem;
	border-radius: 0 0 0.5rem 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: 1;
	color: #fff;
	background: rgba(0,0,0,.5);
	z-index: 2048;	
}

.parallax__debug input {
	vertical-align: middle;
}

.slide {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.parallax__debug-on .slide {
	-webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
	transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.parallax__debug-on .slide__background, .parallax__debug-on .slide__base, .parallax__debug-on .slide__foreground, .parallax__debug-on .slide__text, .parallax__debug-on .slide__media {
	box-shadow: 0 0 0 2px #000;
	opacity: 0.9;
}

/* ================================================================
NAVIGATION
================================================================ */

nav {
	position: fixed;
	top: 50%;
	right: 1rem;
	bottom: auto;
	left: auto;
	color: #fff;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1024;
}

nav ol, nav ol li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ol li {
	text-align: right;
}

nav a, nav a:hover, nav a:active, nav a:visited {
	display: block;
	position: relative;
	height: 32px;
	width: auto;
	text-decoration: none;
	color: #fff;
	line-height: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

nav a span {
	position: absolute;
	top: 0px;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}

nav a:hover span {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

nav a span.dot {
	display: block;
	top: 8px;
	right: 8px;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.12);
	background-color: rgba(97,97,97,0.9);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
				0 1px 18px 0 rgba(0, 0, 0, 0.12),
				0 3px 5px -1px rgba(0, 0, 0, 0.4);
	-webkit-transition: -webkit-transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

nav a:hover span.dot {
	background-color: rgba(97,97,97,0.9);
	box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
				0 4px 22px 3px rgba(0, 0, 0, 0.12),
				0 6px 7px -4px rgba(0, 0, 0, 0.4);
}

nav a.selected span.dot {
	background-color: rgba(255,255,255,0.9);
}

nav a span.label {
	display: inline-block;
	right: 32px;
	width: auto;
	height: 32px;
	border-radius: 16px;
	border: 1px solid rgba(255,255,255,0.12);
	padding: 0 16px;
	position: relative;
	color: white;
	font-size: 14px;
	line-height: 32px;
	background-color: rgba(97,97,97,0.9);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
				0 1px 18px 0 rgba(0, 0, 0, 0.12),
				0 3px 5px -1px rgba(0, 0, 0, 0.4);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

nav a:hover span.label {
	visibility: visible;
	box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
				0 4px 22px 3px rgba(0, 0, 0, 0.12),
				0 6px 7px -4px rgba(0, 0, 0, 0.4);
	opacity: 1;
}

nav a.selected span.label {
	color: #000;
	background-color: rgba(255,255,255,0.9);
}

/* ================================================================
/* ERROR CONTENT FOR IE < 9
================================================================ */

body.ie-error {
	width: 100%;
	height: 100%;
}

body.ie-error div {
	width: 80%;
	margin: 20% auto;
	text-align: center;
}
