/* ================================================================
FONTS
================================================================ */

@import "fonts.css" screen, projection;

/* ================================================================
GENERAL STYLES
================================================================ */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 125%;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #fff;
}

body {
	font-family: Body-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 1.4;
	font-weight: 200;
	color: #212121;
	background-color: #fff;
}

article, header, section, footer, div {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: Title, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3.2rem;
	line-height: 1;
	font-weight: bolder;
}

dl, dt, dd, ul, ul li, ol, ol li {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
	list-style: none;
}

dl dt {
	font-family: Body-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

dl dd, ul, ol {
	margin-bottom: 1rem;
}

figure, video{
	display: block;
	margin: 0;
	padding: 0;
}

strong {
	font-family: Body-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

/* Links */

a, a:hover, a:active, a:visited {
	cursor: pointer;
	text-decoration: underline;
	color: rgba(0,0,0,1.0);
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

a:hover {
	color: rgba(0,0,0,0.5);
}

a img {
	opacity: 1;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

a:hover img {
	opacity: 0.5;
}

/* ================================================================
COMMON STYLES
================================================================ */

.slides {
	width: 100%;
}

.slide {
	position: relative;
	width: 100%;
	height: 96vh;
	min-height: 768px;
	box-shadow: 0 0 57px rgba(0,0,0,0.30), 0 0 27px rgba(0,0,0,0.22);
}

.slide.solid {
	background-color: #fff;
	opacity: 1 !important;
}

.slide__content{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.slide.solid .slide__content {
	max-width: 1440px;
	background-color: #fff;
	padding: 3.2rem;
}

.slide__media img, .slide__media video{
	width: 100%;
}

.column__left, .column__right {
	width: 50%;
	height: auto;
	min-height: 400px;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	flex: 1 1 auto;
}

.column__left {
	float: left;
	padding-right: 1.6rem;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;     
	-ms-flex-order: 1;     
	order: 1;
}

.column__right {
	float: right;
	padding-left: 1.6rem;
	-webkit-box-ordinal-group: 2;  
	-moz-box-ordinal-group: 2;     
	-ms-flex-order: 2;     
	order: 2;
}

.column__full {
	width: 100%;
	height: auto;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	flex: 1 1 auto;
}

.slide__content:after {
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}

.slide__background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000;
}

.vertical__center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin: 0 auto;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.parallax__fix {
	display: none;
}

/* ================================================================
SECTIONS AND BACKGROUNDS
Z-indexes are needed for elevation definition
================================================================ */

/* Header */

#section1 {
	z-index: 32;
}

/* Content sections */

#section2 {
	z-index: 64;
}

#background1 {
	z-index: 33;
}
#background1 .slide__background {
	background-image: url('../image-assets/background1@2x.jpg');
}

#section3 {
	z-index: 63;
}

#background2 {
	z-index: 34;
}
#background2 .slide__background {
	background-image: url('../image-assets/background2@2x.jpg');
}

#section4 {
	z-index: 62;
}

#background3 {
	z-index: 35;
}
#background3 .slide__background {
	background-image: url('../image-assets/background3@2x.jpg');
}

#section5 {
	z-index: 61;
}

#background4 {
	z-index: 36;
}
#background4 .slide__background {
	background-image: url('../image-assets/background4@2x.jpg');
}

#section6 {
	z-index: 60;
}

/* Footer */

#section7 {
	z-index: 59;
}

/* ================================================================
HEADER
================================================================ */

header {
	text-align: center;
	color: #fff;
}

header #title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

header #title img {
	display: block;
	width: 100%;
	height: 4.8rem;
	margin: 0 auto 3.2rem;
}

header #title h1 {
	margin: 0;
	padding: 0;
	font-size: 3.2rem;
	line-height: 1;
	text-transform: uppercase;
}

header #title h2{
	margin: 0;
	padding: 0;
	font-size: 3.2rem;
	line-height: 1;
	text-transform: uppercase;
}

header #title__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

header #title__background {
	background: black;
	z-index: 1;
}

/* HEADER VIDEO */

#intro {
	position: relative;
	width: 100%;
	height: 100%;
}

#intro__video, #intro__fallback {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	object-fit: cover;
	object-position: 50% 50%;
	overflow: hidden;
}

/* ================================================================
MAIN CONTENT
================================================================ */

section h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: #000;
	text-transform: uppercase;
}

/* ================================================================
FOOTER
================================================================ */

footer {
	text-align: center;
	color: #fff;
	background-color: #212121;
}

footer #copy {
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
	font-size: 1rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.87);
}

/* ================================================================
CSS PARALLAX EFFECT
http://keithclark.co.uk/articles/pure-css-parallax-websites/
================================================================ */

@media screen and (min-width: 1024px) {
	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
		html, body {
			height: 100%;
			overflow: hidden;
		}

		body {
			-webkit-transform: translateZ(0);
			transform: translateZ(0); 
		}

		.slides {
			position: absolute;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-perspective: 300px;
			perspective: 300px;
			scroll-behavior: smooth;
		}

		.slide {
			position: relative;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}

		footer.slide {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
		}

		.slide__background, .slide__base, .slide__foreground, .slide__fix {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.slide__media.column__left {
			transform-origin: 100% 50%;
		}

		.slide__media.column__right {
			transform-origin: 0% 50%;
		}

		.slide__background {
			background-attachment: scroll;
			background-position: 50% 50%;
			background-size: cover;
			-webkit-transform: translateZ(-256px) scale(2);
			transform: translateZ(-256px) scale(2);
			z-index: 1;
		}

		.slide__base, .slide__text {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			z-index: 2;
		}

		.slide__foreground, .slide__media, .slide__fix {
			-webkit-transform: translateZ(96px) scale(.68);
			transform: translateZ(96px) scale(.68);
			z-index: 3;
		}

		.slide__fix {
			display: block;
			pointer-events: none;
		}
	}
}

/* ================================================================
CSS PARALLAX EFFECT
Debugger styles - used to show the parallax effect
================================================================ */

.debug {
	position: fixed;
	top: 0;
	left: .5em;
	z-index: 999;
	background: rgba(0,0,0,.5);
	color: #fff;
	padding: .5em;
	border-radius: 0 0 5px 5px;
}
.debug-on .slide {
	-webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
	transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.debug-on .slide__layer {
	box-shadow: 0 0 0 2px #000;
	opacity: 0.9;
}
.parallax__group {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

/* ================================================================
/* ERROR CONTENT FOR IE < 9
================================================================ */

body.ie-error {
	width: 100%;
	height: 100%;
}

body.ie-error div {
	width: 80%;
	margin: 20% auto;
	text-align: center;
}
