/* BREAKPOINTS */
@media screen and (max-width: 1920px) {
	html {
		font-size: 118.25%;
	}
}

@media screen and (max-width: 1440px) {
	html {
		font-size: 112.5%;
	}
}

@media screen and (max-width: 1368px) {
	html {
		font-size: 106.25%;
	}
}

@media screen and (max-width: 1280px) {
	html {
		font-size: 100%;
	}
}

@media screen and (max-width: 1023px) {
	html {
		font-size: 93.75%;
	}

	nav { 
		display: none;
	}

	.no-videoautoplay #intro__video {
		display: none;
	}

	.no-videoautoplay #intro__fallback {
		display: block;
	}

	#background1 .slide__background {
		background-image: url('../image-assets/background1.jpg');
	}

	#background2 .slide__background {
		background-image: url('../image-assets/background2.jpg');
	}

	#background3 .slide__background {
		background-image: url('../image-assets/background3.jpg');
	}

	#background4 .slide__background {
		background-image: url('../image-assets/background4.jpg');
	}

	.slides, .slide, .slide__content, .column__left, .column__right {
		float: none;
		display: block;
		width: 100%;
		min-height: 0;
	}

	.column__left, .column__right {
		-webkit-box-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		flex: 0 0 auto;
		padding: 0;
	}

	.slide {
		min-height: auto;
		height: auto;
	}

	.background {
		padding-top: 56.25%;		
	}

	.slide__content {
		position: static;
		-ms-transform: translate(0);
		-webkit-transform: translate(0);
		transform: translateY(0);
		width: 100%;
		margin: 0 auto;
	}

	.background .slide__content {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.slide__background {
		height: auto;
		background-size: cover;
		background-attachment: scroll;
	}

	.background .slide__background {
		height: 100%;
	}

	.slide__media{
		margin-bottom: 3.2rem;
		text-align: center;
	}

	.slide__media img {
		width: 75%;
	}

	#about {
		margin-bottom: 3.2rem;
	}

	footer .columns__two {
		display: block;
		width: 100%;
		min-height: 0;
	}

	footer .columns__two div {
		float: none;
		display: block;
		-webkit-box-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		flex: 0 0 auto;
	}

	.parallax__debug {
		display: none;	
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 87.5%;
	}

	.background {
		padding-top: 75%;
	}
}

@media screen and (max-width: 600px) {
	html {
		font-size: 81.25%;
	}
}

@media screen and (max-width: 540px) {
	html {
		font-size: 75%;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 68.75%;
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 62.5%;
	}
}