/* FONTS */

/* Regular */


/* GENERAL */

html {
	font-size: 125%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #000;
	font-family: 'Futurice Regular', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #000;
}

h1, h2 {
	margin: 0;
	padding: 0;
	font-family: 'Futurice Bold', sans-serif;
	font-size: 3.5rem;
	line-height: 1;
	text-transform: none;
	color: #51b848;
}

h1 {
	color: #fff;
}

h2{
	font-size:2.8rem;
}


figure {
	display: block;
	margin: 0;
	padding: 0;
}

dl, dt, dd {
	margin-left: 0;
	padding-left: 0;
}

dl dt {
	font-family: 'Futurice Bold', sans-serif;
	text-transform: uppercase;
}

dl dd {
	margin-bottom: 16px;
}

strong {
	font-family: 'Futurice Bold', sans-serif;
}

a, a:hover, a:visited {
	cursor: pointer;
	text-decoration: underline;
	color: #000;
	opacity: 1;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

a:hover {
	opacity: 0.5;
}

a img {
	opacity: 1;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

footer, .container {
	padding: 4.8rem 0;
}

footer {
	padding-bottom: 2.4rem;
}

/* HEADER */

header {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #000;
}

#title {
	position: absolute;
	z-index: 1024;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#title div {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: 0 auto;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
}

#title img {
	display: block;
	width: 24%;
	height: auto;
	margin: 0 auto 4.8rem;
	height: 4.8rem;
}

#title h1 {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

/* HEADER VIDEO */

#video {
	width: 100%;
	height: auto;
	overflow: hidden;
	z-index: 512;
}

#video-elem, #fallback {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#mute, #play {
	position: absolute;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	background-repeat: no-repeat;
}

#mute {
	top: 2em;
	right: 2em;
	z-index: 2048;
	height: 30px;
	width: 30px;
	background-size: cover;
}

#play {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1536;
	background-size: contain;
	background-position: center;
}

.muted {
	background-image:url('../images/unmute.png');
}

.unmuted {
	background-image:url('../images/mute.png');
}

/* MAIN */

main {
	background-color: #fff;
}

/* FOOTER */

.clearfix:after{
	display: table;
	content:'';
	clear: both;
}

footer {
	width: 100%;
	background: #E9E9E9;
	margin: 0 auto;
}

footer .category-title{
	width: 80%;
	max-width: 1100px;
	margin: 0 auto 4rem auto;
	color: #808080;
	font-size: 2rem;

	small {

	}
}

footer div {
	width: 80%;
	margin: 0 auto;
}

footer a {
	margin: 0 auto;
	color: #000;
	text-decoration: none;
	background-size: contain;
}
footer #logos{
	max-width: 1100px;
	margin: 4rem auto;
}
footer #logos, footer #logos a {
	padding: 0;
}

footer #logos span {
	color: #51b848;
	display: block;
}

footer #logos a {	
	display: inline-block;
	width: auto;
}

footer #logos a img {
	max-height: 5.4rem;	
}


footer #credits{
	max-width: 1100px;
	margin-bottom: 30px;
}

footer #credits > div{
	float: left;
	display: inline-block;
	width:25%;
	color:#51b848;
}

footer #credits img {
	max-height: 44px;
	display: block;
	margin: 20px 0;
}
footer #credits img.smaller{
	width:180px;
	margin-top: 25px;
}

footer .participants {
	padding: 0;
	list-style-type: none;
	color: #282828;
	font-size: 75%;
	padding-right: 2rem;
}

footer .participants li {
	line-height: 1rem;
	margin-bottom:  0.5rem;
}

footer .participants span {
	font-style: italic;
	color: #808080;
}

/* DATA */

#background {
	text-align: left;
}



.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	color: #000;
	background-color: #fff;
}

.container .left, .container .right {
	width: 48%;
}

.container .left {
	float: left;
}

.container .right {
	float: right;
}

.container figure {
	overflow: hidden;
}

.container figure img {
	width: 100%;
	height: auto;
}

#info div {
	text-align: center;
}

.full-container--grey{
	background:#f5f5f5;
}
.full-container--grey .container{
	background:transparent;
	max-width: 70%;
}

#quotes > .col{
	width: 29.333%;
	margin:0 2% 0;
	float:left;
}

.quote{
	background:#FFF;
	border-radius: 40px;
	padding: 40px;
	display: block;
	font-size:90%;
}

.quote .stars{
	color:#D02545;
	letter-spacing: 0.15rem;
	font-size:1.5rem;
	margin-right: 1rem;
	float:left;
}
.quote .title{
	color:#888;
	margin-bottom: 0.7rem;
}
.quote .name{
	clear: left;
}
.quote .text{
	line-height: 1.2rem;
	font-style: italic;
}


/* BACKGROUND IMAGES */

.bgimage {
	width: 100%;
	margin: 0 auto;
	padding-top: 56.25%;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#image1 {
	background-image: url('../images/snapskan_etusivu-mobile.jpg');
}

#image2 {
	background-image: url('../images/snapskan_raportti-mobile.jpg');
}

#image3 {
	background-image: url('../images/snapskan_miten-tilaan-mobile.jpg');
}


/* IE < 9 */
.ie-error div {
	width: 90%;
	margin: auto;
	font-family: Arial, sans-serif;
}

.ie-error li {
	font-size: 20pt;
	list-style-type: none;
}

.ie-error ul {
	padding: 0;
	margin: 0;
}
