@media screen and (max-width: 1920px) {
	html {
		font-size: 118.25%;
	}
}

@media screen and (max-width: 1440px) {
	html {
		font-size: 112.5%;
	}

	#title img {
		margin-bottom: 3.2rem;
		height: 3.2rem;
	}
}

@media screen and (max-width: 1368px) {
	html {
		font-size: 106.25%;
	}
}

@media screen and (max-width: 1280px) {
	html {
		font-size: 100%;
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 93.75%;
	}

	header #title h1, .container, footer div {
		width: 90%;
	}

	.container h2 {
		text-align: center;
	}

	footer, .container {
		padding: 3.2rem 0;
	}

	footer p {
		margin-top: 3.2rem;
	}

	footer #credits a {
		display: block;
		margin: 2rem auto 0 auto;
	}

	.container {
		height: auto !important;
	}

	.container .left, .container .right {
		float: none !important;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.full-container--grey .container{
		max-width: none;
	}

	.container figure {
		width: 75% !important;
		margin-bottom: 3.2rem !important;
	}

	.container .video {
		width: 100%;
		margin: 0 auto 3.2rem auto;
		text-align: center;
	}

	#info .left {
		margin-bottom: 3.2rem;
	}

	.bgimage {
		padding-top: 75%;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}

	#image1 {
		/*padding-top: 70%;*/
		background-image: url('../images/bg_arvostelut@2x.jpg');
	}

	#image2 {
		background-image: url('../images/bg_kaupassa@2x.jpg');
		background-position: 33% 50%;
	}

	#image3 {
		background-image: url('../images/bg_kotona@2x.jpg');
	}

}