@media screen and (max-width: 850px) {

	#header {
		height: 145px;
	}

	#header div {
		width: 90%;
	}

	.container {
		width: 100% !important;
		height: auto !important;
	}

	.container > div, #solution div {
		float: none;
		width: 95% !important;
		height: auto !important;
		margin: 0 auto;
	}

	.container img {
		float: none;
		width: 50% !important;
		display: block;
		margin: 0 auto 50px auto !important;
	}

	#beginning img {
		width: 90% !important;
	}


	#play {
		width: 5em;
		height: 5em
	}

	#image1, #image2, #image3 {
		height: auto;
	}

	#image1 {
		background:url('../images/app_small.jpg') 50% 0 no-repeat scroll;
	}

	#image2 {
		background:url('../images/perspective_small.jpg') 0 0 no-repeat scroll;
	}

	#image3 {
		background:url('../images/weather_small.jpg') 60% 0 no-repeat scroll;
	}
}

@media screen and (max-width: 740px) {
	#header h1 {
		width: 70%;
	}

	#header div {
		padding-top: 0
	}

	#header img {
		padding-top: 20px;
	}
}

@media screen and (max-width: 610px) {
	
	.container img {
		margin-bottom: 20px !important;
	}
	
	#solution img {
		width: 70% !important;
	}

	#implementation img, #info img {
		width: 90% !important;
	}
}

@media screen and (max-width: 500px) {

	#header h1 {
		width: 65%;
		font-size: 18pt;
		padding-top: 30px;
	} 

	#header img {
		width: 80px;
	}
}

